<a href="/newblog"><h5>Create a Blog</a></h5>

<ul>
	<% @blogs.each do |blog|%>
		<li>
			<strong><a href="/blog/<%= blog.id %>"><%= blog.title %></a></strong>
			<%= blog.date %><br>
			<%= blog.blog %><br>
			<a href="/update_blog/<%= blog.id %>">Edit</a>
		</li>
	<% end %>

</ul>