<div class = "createbloglink"><a href="/newblog"><h5>Create a new blog</a></h5></div>

<div class = "blogs">
	<ul>
	<% @blogs.each do |blog|%>
		<li>
			<strong><a href="/blog/<%= blog.id %>"><%= blog.title %></a></strong>
			<br>
			<%= blog.date %>
			<br>
			<%= blog.blog %>
			<br>
			<a href="/update_blog/<%= blog.id %>">Edit</a>
			<br>
		</li>
	<% end %>

	</ul>
</div>